$primary-color: #fa00f6;
$primary-dark: #8a1586;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f0f0 !important;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: $primary-dark;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 50;
  &.activated {
    width: 240px;

    .logo_content {
      .logo {
        i {
          display: none;
          transition: all 0.5s ease;
          transform: translateX(0);
        }
        .logo_name {
          display: block;
          transition: all 0.5s ease;
        }
      }
    }

    ul {
      li {
        &:hover {
          .tooltip {
            display: none;
          }
        }
      }
    }

    .links_name {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .logo_content {
    .logo {
      color: #fff;
      display: flex;
      height: 3rem;
      width: 100%;
      align-items: center;
      margin-left: 22px;
      pointer-events: none;
      i {
        display: block;
        transition: all 0.5s ease;
        transform: translateX(-50%);
        font-size: 2rem;
        margin-right: 5px;
      }
      .logo_name {
        display: none;
        font-size: 1.5rem;
        margin-right: 400;
        transition: all 0.5s ease;
      }
    }
  }

  ul {
    margin-top: 1.5rem;
    padding: 0px;
    li {
      position: relative;
      height: 3.5rem;
      width: 100%;
      margin: 0;
      list-style: none;
      line-height: 3rem;

      .tooltip {
        position: absolute;
        left: 127px;
        top: 0;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        height: 35px;
        width: 122px;
        text-align: center;
        background: #fff;
        box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.2);
        line-height: 35px;
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        display: block;
      }

      &:hover {
        .tooltip {
          transition: all 0.5s ease;
          top: 50%;
          opacity: 1;
        }
      }

      a {
        color: #c2c2c2;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 12px;
        white-space: nowrap;
        &:hover {
          color: #c2c2c2;
          background-color: rgba(255, 255, 255, 0.123);
        }
        &.selected {
          color: #ffffff;
          background-color: rgba(255, 255, 255, 0.459);
        }
      }

      i {
        height: 3rem;
        min-width: 3rem;
        border-radius: 12px;
        line-height: 3rem;
        text-align: center;
      }
    }
  }

  .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
}

.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  .topbar {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #11101d2c;
  }
}

.sidebar.activated ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

.sub_menu {
  height: calc(100vh - 60px);
  width: 200px;
  overflow: hidden;
  background: #f5f5fa;
  .title_content {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: #fff;
    background: $primary-dark;
    font-weight: 500;
    i {
      font-size: 1.5rem;
      margin-right: 10px;
    }
  }
  ul {
    margin-top: 10px;
    padding: 0 15px;
    list-style: none;
    li {
      font-size: 0.8rem;
      font-weight: 400;
      border-radius: 0.8rem;
      a {
        width: 100%;
        line-height: 2rem;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 0.8rem;
        white-space: nowrap;
        color: $primary-dark;
        i {
          margin-right: 10px;
        }
        &:hover {
          background-color: rgba($primary-color, 0.1);
        }
        &.selected {
          background-color: rgba($primary-color, 0.3);
        }
      }
    }
  }
}

.home_content {
  .page_body {
    position: absolute;
    top: 60px;
    margin-left: 0;
    width: 100%;
    transition: all 0.5s ease;
  }
}

.sub_menu ~ .page_body {
  margin-left: 200px;
  width: calc(100% - 200px);
}

/* modal close button */
.close {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: $primary-color;
}

/* buttons */
.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  outline-color: $primary-color;
}

/* buttons */
.btn-outline-primary {
  background-color: #ffffff !important;
  border-color: $primary-color !important;
  color: $primary-color !important;
}

.user-thumbnail {
  width: 2rem !important;
  height: 2rem !important;
  margin-left: 0.4rem;
}

.dashboard {
  .card-widgets {
    .card {
      border: none !important;
      border-radius: 0.8rem;
      box-shadow: 3px 5px 10px 0px #b1b0b038;
      .label {
        color: grey;
      }
      .icon {
        font-size: 3rem;
        color: rgb(179, 179, 179);
      }
    }
  }
  .recent-students {
    background-color: white;
    padding: 0 !important;
    border-radius: 0.8rem;
    box-shadow: 3px 5px 10px 0px #b1b0b038;
  }
  .top-teachers {
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 3px 5px 10px 0px #b1b0b038;
  }
}

.network-error {
  margin-top: 50px;
  align-items: center;
  .svg {
    height: 30rem;
    width: 30rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./static/working-on-it.svg);
  }
}

.module-building {
  margin-top: 50px;
  align-items: center;
  .svg {
    height: 30rem;
    width: 30rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./static/programming.svg);
  }
}
