.login-container {
  min-height: 100vh;
  width: 100%;
}

.landing-section {
  margin-top: 70px;
  padding: 100px 0;
  align-items: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(./static/wave1.svg);
  .about {
    padding: 4rem;
  }
}

.login-card {
  width: 25rem;
  height: auto;
  box-shadow: 0 0 5px 5px #46454538;
  border-radius: 1rem;
  overflow: hidden;
}

.registration-card {
  height: auto;
}

.MuiButton-root {
  &.no-transform {
    text-transform: none !important;
  }
}

.MuiIcon-root {
  position: relative;
  top: 0 !important;
  color: red !important;
  vertical-align: 5px !important;
}

#register {
  .signup-box {
    min-height: 600px;
    overflow: hidden;
    margin: 1rem;
    padding: 5px;
    .input-box {
      margin: 5px;
      border-radius: 16px;
      margin-right: 10px;
      padding: 30px 72px;
      height: 100%;
      background-color: #ffffff;
    }
    .signup-info {
      align-items: center;
      align-content: center;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 80% 50%;
      background-image: url(./static/undraw_agree_re_hor9.svg);
    }
  }
}

#contacts {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./static/wave2.svg);
}

#footer {
  background-color: #ffffff;
  margin-top: 50px;
  .footer-content {
    padding: 50px;
    color: #777777;
  }
}
